services:
  - type: web
    name: savings-app-backend
    env: python
    buildCommand: cd back-end && pip install -r requirements.txt
    startCommand: cd back-end && python db_init.py && gunicorn -b 0.0.0.0:$PORT run:app --log-level info --timeout 120 --workers 1 --worker-class sync
    envVars:
      - key: DATABASE_URL
        value: postgresql://savings_app_database_user:joEr2jAdMaPPgaGyrXossFFJG08ukk11@dpg-d16hucvdiees73d5rs10-a.frankfurt-postgres.render.com/savings_app_database
      - key: FLASK_ENV
        value: production
      - key: FLASK_DEBUG
        value: "0" 
      - key: PYTHON_VERSION
        value: 3.11.9